*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}
 body{
    background-image: url(/images/bg-intro-desktop.png);
    background-color:  hsl(0, 100%, 74%) ;
       width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}
.form input{
    margin-top: 20PX;
    display: block;
}
.conteiner{
    width: 70%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info{
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form{
    border-radius: 13px;
    padding: 30px;
    background-color: white;
    width: 100%;
}
.form input[type="button"] {
    background-color: hsl(249, 10%, 26%) ;
    color: white;
    width: 100%;
}

.input-info  {
    margin-top: ;
    width: 100%;
    padding: 10px;
}
form p {
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    margin-left: 50px;
}

form p a{ 
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}
.registration-form button{
margin-bottom: 15px;
width: 100%;
padding: 15px;
background-color: #0c3e87;;
border: 0;
box-shadow: 0px 6px hsl(0, 67%, 64%);
color: white;
cursor: pointer;
border-radius: 5px;
}
.paymaent:hover {
    background-color: rgb(149, 25, 130);
}
.registration{
    background-color: aquamarine;
    display: inline-block;
     width: 100%;
     margin: 0;
}

.input-info{
padding: 15px;
border-radius: 5px;
}
.registration-form{
    margin-left: 50px;
}
.claim input{
    background-color: hsl(154, 59%, 51%);
    border: 0;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
  box-shadow: 0px 4px hsl(154, 71%, 41%);
}
.claim input:hover {
    background-color: rgb(48, 153, 201);
}

